//fonts

.hxbicon-box {
  &:before {
    content: $hxbicon-box;
  }
}
.hxbicon-write {
  &:before {
    content: $hxbicon-write;
  }
}
.hxbicon-clock {
  &:before {
    content: $hxbicon-clock;
  }
}
.hxbicon-bell {
  &:before {
    content: $hxbicon-bell;
  }
}
.hxbicon-folder {
  &:before {
    content: $hxbicon-folder;
  }
}
.hxbicon-pin {
  &:before {
    content: $hxbicon-pin;
  }
}
.hxbicon-sound {
  &:before {
    content: $hxbicon-sound;
  }
}
.hxbicon-eye {
  &:before {
    content: $hxbicon-eye;
  }
}
.hxbicon-mail {
  &:before {
    content: $hxbicon-mail;
  }
}
.hxbicon-link {
  &:before {
    content: $hxbicon-link;
  }
}
.hxbicon-bell2 {
  &:before {
    content: $hxbicon-bell2;
  }
}
.hxbicon-lock {
  &:before {
    content: $hxbicon-lock;
  }
}
.hxbicon-unlock {
  &:before {
    content: $hxbicon-unlock;
  }
}
.hxbicon-ribbon {
  &:before {
    content: $hxbicon-ribbon;
  }
}
.hxbicon-clipboard {
  &:before {
    content: $hxbicon-clipboard;
  }
}
.hxbicon-clock2 {
  &:before {
    content: $hxbicon-clock2;
  }
}
.hxbicon-camera {
  &:before {
    content: $hxbicon-camera;
  }
}
.hxbicon-heart {
  &:before {
    content: $hxbicon-heart;
  }
}
.hxbicon-search {
  &:before {
    content: $hxbicon-search;
  }
}
.hxbicon-zoom-in {
  &:before {
    content: $hxbicon-zoom-in;
  }
}
.hxbicon-zoom-out {
  &:before {
    content: $hxbicon-zoom-out;
  }
}
.hxbicon-reply {
  &:before {
    content: $hxbicon-reply;
  }
}
.hxbicon-circle-plus {
  &:before {
    content: $hxbicon-circle-plus;
  }
}
.hxbicon-circle-minus {
  &:before {
    content: $hxbicon-circle-minus;
  }
}
.hxbicon-circle-check {
  &:before {
    content: $hxbicon-circle-check;
  }
}
.hxbicon-circle-cross {
  &:before {
    content: $hxbicon-circle-cross;
  }
}
.hxbicon-square-cross {
  &:before {
    content: $hxbicon-square-cross;
  }
}
.hxbicon-repeat {
  &:before {
    content: $hxbicon-repeat;
  }
}
.hxbicon-folder2 {
  &:before {
    content: $hxbicon-folder2;
  }
}
.hxbicon-head {
  &:before {
    content: $hxbicon-head;
  }
}
.hxbicon-expand {
  &:before {
    content: $hxbicon-expand;
  }
}
.hxbicon-inbox {
  &:before {
    content: $hxbicon-inbox;
  }
}
.hxbicon-open {
  &:before {
    content: $hxbicon-open;
  }
}
.hxbicon-ellipsis {
  &:before {
    content: $hxbicon-ellipsis;
  }
}
