
//$icomoon-font-path: "../" !default;

$hxbicon-box: "\e900";
$hxbicon-write: "\e901";
$hxbicon-clock: "\e902";
$hxbicon-bell: "\e903";
$hxbicon-folder: "\e904";
$hxbicon-pin: "\e905";
$hxbicon-sound: "\e906";
$hxbicon-eye: "\e000";
$hxbicon-mail: "\e002";
$hxbicon-link: "\e005";
$hxbicon-bell2: "\e006";
$hxbicon-lock: "\e007";
$hxbicon-unlock: "\e008";
$hxbicon-ribbon: "\e009";
$hxbicon-clipboard: "\e013";
$hxbicon-clock2: "\e014";
$hxbicon-camera: "\e017";
$hxbicon-heart: "\e024";
$hxbicon-search: "\e036";
$hxbicon-zoom-in: "\e037";
$hxbicon-zoom-out: "\e038";
$hxbicon-reply: "\e039";
$hxbicon-circle-plus: "\e040";
$hxbicon-circle-minus: "\e041";
$hxbicon-circle-check: "\e042";
$hxbicon-circle-cross: "\e043";
$hxbicon-square-cross: "\e047";
$hxbicon-repeat: "\e058";
$hxbicon-folder2: "\e059";
$hxbicon-head: "\e074";
$hxbicon-expand: "\e110";
$hxbicon-inbox: "\e122";
$hxbicon-open: "\e128";
$hxbicon-ellipsis: "\e129";

